# CatBoost logs
catboost_info/

# Envs
ML_venv/
venv/
.env

# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/
Untitled*.ipynb
nt.ipynb

# MyST build outputs
_build/
.myst/
.jupyter_cache/

# Data / resultados intermedios
*.json
*.tsv
